nav{
  display: flex;
  padding: 8px 26px;
  color: #ffffff;
  background: #767676;
}
.nav-icon{
  color: #ffffff;
  background: #767676;
}
.nav-title{
  margin-left: 20px;
}
.flex-spacer{
  flex-grow: 1;
}


